/*
Theme Name: Twenty Sixteen Child
Theme URI: https://wordpress.org/themes/twentysixteen-child/
Author: the WordPress team
Author URI: https://wordpress.org/
Description: Twenty Sixteen is a modernized take on an ever-popular WordPress layout — the horizontal masthead with an optional right sidebar that works perfectly for blogs and websites. It has custom color options with beautiful default color schemes, a harmonious fluid grid using a mobile-first approach, and impeccable polish in every detail. Twenty Sixteen will make your WordPress look beautiful everywhere.
Version: 1.0.0
Text Domain: twentysixteen-child
Template:     twentysixteen
*/


@media screen and (min-width: 44.375em){
.site {
    margin: 0px !important;
}
}

@media screen and (min-width: 44.375em){
body:not(.custom-background-image):before, body:not(.custom-background-image):after {
    
     height: 0px !Important;
}
}
#menu-item-26>a{
    font-size: 18px;
    color: #777777;
}
#menu-item-27>a{

font-size: 19px;
color: #00b698;
border: 2px solid blue;

}
.footer-mega-col{
    width: 100%;
}
.site-info{
    display: none;
}
.widget {
    border-top: 0px;}
    #colophon{
        background: linear-gradient(to top, #CC33FF 12%, #6600FF 100%);
    }

    #masthead{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .footer-mega-col-wrap{
        color: white;
    }
   .quick_footer >a{
        color:white !important;
        display: block !important;
        text-decoration: none;
    }
    .services_footer >a{
        color:white !important;
        display: block !important;
        text-decoration: none;
    }
    .technologies_footer >a{
        color:white !important;
        display: block !important;
        text-decoration: none;
    }
    .textwidget a{
        box-shadow: none;
    }