/*
Theme Name: maester-lite Child
Theme URI: https://wordpress.org/themes/twentysixteen-child/
Author: the WordPress team
Author URI: https://wordpress.org/
Version: 1.0.0
Text Domain: maester-lite-child
Template:     maester-lite
*/

@font-face {
    font-family: 'Typold-Thin';
    src: url("/excelblog/wp-content/themes/maester-lite-child/fonts/Typold-Thin.otf");
}

@font-face {
    font-family: 'Typold-Regula';
    src: url("/excelblog/wp-content/themes/maester-lite-child/fonts/Typold-Regular.otf");
}

@font-face {
    font-family: 'Typold-Medium';
    src: url("/excelblog/wp-content/themes/maester-lite-child/fonts/Typold-Medium.otf");
}

@font-face {
    font-family: 'Typold-Book';
    src: url("/excelblog/wp-content/themes/maester-lite-child/fonts/Typold-Book.otf");
}

.elm-button:focus .elm-button:hover,
.elm-button {
    color: #724EF4 !important;
    font-family: typold-Book !important;
    border: 1px solid #724EF4 !important;
    border-radius: 13px !important;
    font-weight: unset !important;
    outline: 0px;
}

input[type="search"] {
    width: 130px !important;
    box-sizing: border-box !important;
    border: 0px !important;
    border-radius: 4px !important;
    background-color: white !important;
    background-position: 10px 10px !important;
    background-repeat: no-repeat !important;
    height: 40px;
    margin-top: 5px;
    padding: 0px 0px 0px 30px !important;
    -webkit-transition: width 0.4s ease-in-out !important;
    transition: width 0.4s ease-in-out !important;
}

input[type="search"]:focus {
    width: 100% !important;
    border: 1px solid #8e79f4 !important;
}

#menu-item-26>a {
    font-size: 18px;
    color: #777777;
    font-family: typold-Book !important;
}

#menu-item-27>a {
    font-size: 19px;
    color: #2637468f;
    ;
    border: 2px solid blue;
    font-family: typold-Book !important;
    font-weight: 700 !important;
}

.footer-mega-col {
    width: 100%;
}

.site-info {
    display: none;
}

.widget {
    border-top: 0px;
}

#colophon {
    background: linear-gradient(to top, #57a2cb 0%, #8a75f4 100%);
}

#masthead {
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
    position: fixed;
    background: white;
    top: 0px;
    z-index: 2;
}

.footer-mega-col-wrap {
    color: white;
    margin-top: 50px;
    margin-left: 50px;
}

.quick_footer>a {
    color: white !important;
    display: block !important;
    text-decoration: none;
}

.services_footer>a {
    color: white !important;
    display: block !important;
    text-decoration: none;
}

.technologies_footer>a {
    color: white !important;
    display: block !important;
    text-decoration: none;
}

.footer-mega-col-wrap a,
.footer-mega-col-wrap p {
    font-weight: 800 !important;
    line-height: 2 !important;
    color: white !important;
    font-family: Typold-Book !important;
    font-size: 12px !important;
}

.textwidget a {
    box-shadow: none;
}

aside.widget-area {
    background: none !important;
    padding: 0px !important;
    border: 0px !important;
}

.footer-main {
    padding: 0px !important;
}

.widget_text>h6 {
    color: white !important;
    font-weight: 800 !important;
    font-size: 14px;
    font-family: Typold-Book !important;
}

a:hover {
    text-decoration: none !important;
}

.custom-logo {
    width: 20vw !important;
}

.header-menu-bar {
    display: none !important;
}

#content {
    margin-top: 97px;
    background: linear-gradient(to bottom, #caf0e9 0%, #ffffff 5%) !important;
    padding-top: 10vh !important;
}

.maester-breadcrumb-area {
    display: none !important;
}

#menu-item-26>a {
    font-size: 15px!important;
    padding: 8px 25px !important;
}

.entry-title {
    margin: 0px!important;
    font-family: Typold-Medium !important;
}

.post-content-body {
    border: 0px !important;
    padding: 0px !important;
}

p {
    line-height: 18px !important;
}

#custom_html-2 {
    width: 25vw;
}

#custom_html-3 {
    width: 13vw;
}

.post-content-body>a {
    color: blue !important;
    text-transform: uppercase;
}

.cat-links>a {
    color: blue !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    font-weight: unset !important;
    font-family: typold-Thin !important;
    font-weight: 800 !important;
    font-size: 13px !important;
}

.post-content-body a:hover {
    color: blue !important;
}

#secondary-menu-container>nav>ul>li:last-child>a {
    border-image: linear-gradient(to bottom, #8f79f4 0%, #63c9b7 100%);
    border-image-slice: 1;
    border-width: 2px;
    padding: 8px 20px !important;
    color: #5080ab;
}

aside.widget-area a {
    text-decoration: none !important;
}

aside.widget-area a:hover {
    color: #7669f4 !important;
}

#menu-item-27 {
    -ms-transform: skewX(-10deg);
    /* IE 9 */
    -webkit-transform: skewX(-10deg);
    /* Safari */
    transform: skewX(-10deg);
}

.site-branding {
    display: flex;
}

#search-5 {
    margin-bottom: 0px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: blue !important;
}

.site-branding p,
.fa-search {
    font-size: 12px !important;
    font-weight: 600 !important;
    position: absolute !important;
    z-index: 2 !important;
    display: block !important;
    text-align: center !important;
    pointer-events: none !important;
    cursor: pointer !important;
    margin: 20px 7px 0 !important;
    color: #A1A1BD !important;
}

.footer-widget-area {
    display: none;
}

.post-content-body .entry-title a:hover {
    color: #252525 !important;
}

.post-content-body .entry-title a:hover {
    color: #252525 !important;
}

.post-content-body .entry-title>a {
    font-family: Typold-Thin !important;
    font-size: 18px !important;
}

.featured_main .feature_post_image {
    padding: 15px 15px 15px 80px;
}

.detail-top-row .detail-post-image {
    padding: 15px 15px 15px 80px;
}

.widget_categories>h4.widget-title::after {
    display: inline-block;
    content: "";
    border-top: 2.6px solid blue;
    width: 160px;
    margin: 0 0 0 10px;
    transform: translateY(-3.0px);
}

.widget_recent_comments>h4.widget-title::after {
    display: inline-block;
    content: "";
    border-top: 2.6px solid blue;
    width: 105px;
    margin: 0 0 0 10px;
    transform: translateY(-3.0px);
}

.widget_recent_entries>h4.widget-title::after {
    display: inline-block;
    content: "";
    border-top: 2.6px solid blue;
    width: 140px;
    margin: 0 0 0 10px;
    transform: translateY(-3.0px);
}

.h6_underline {
    height: 3px;
    width: 3vw;
    background: white;
    margin-bottom: 10px;
}

.continue_underline {
    height: 3px;
    width: 3vw;
    background: blue;
    margin-bottom: 10px;
}

.featured_post {
    font-size: 18px !important;
    padding-right: 15px;
    padding-left: 15px;
}

.pgntn-page-pagination {
    display: none;
}

body {
    font-family: sans-serif, Typold !important;
}

.next-page {
    text-align: right;
}

.container {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.featured_main {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

figure {
    margin: 0px;
}

.entry-meta {
    font-size: 12px;
}

.publish_date {
    line-height: 10px;
    font-size: 12px;
}

.social_link {
    margin-top: 5px;
    margin-right: -5px !important;
    margin-left: -5px !important;
}

.social_link img:hover {
    cursor: pointer;
}

.social_link img {
    padding: 0px 5px;
}

.col-lg-4 {
    -ms-flex: 0 0 25% !important;
    flex: 0 0 25% !important;
    max-width: 25% !important;
}

article.post-listing .post-image {
    height: 183px !important;
}

.featured_main .continue_reading,
.post-content-body>a {
    color: blue !important;
    text-transform: uppercase;
    font-size: 12px !important;
    font-weight: 600 !important;
    font-family: Typold-Book !important;
}

.cat-links {
    font-size: 15px !important;
}

.featured_post>h3 {
    text-transform: uppercase !important;
    font-weight: 600;
    color: #6B53EF !important;
    font-size: 15px !important;
    font-family: Typold-Book !important;
}

.featured_main h3.entry-title a,
.detail-top-row h3.entry-title {
    font-size: 35px !important;
    color: #492F5C !important;
    font-weight: 600 !important;
}

.post-column,
.detail-content-part {
    padding-right: 80px !important;
}

.author>a,
.maester-single-post-meta {
    text-transform: uppercase !important;
    color: #444444 !important;
    font-family: Typold-Medium !important;
    -webkit-text-stroke: thin;
}

aside.widget-area .widget-title {
    font-size: 15px !important;
    color: #724EF4 !important;
    text-transform: uppercase !important;
}

aside.widget-area a {
    color: #444444 !important;
    font-family: typold-Thin !important;
    font-weight: 600 !important;
    font-size: 13px !important;
}

.entry-summary>p {
    color: #777777 !important;
    font-family: Typold-Book !important;
    font-size: 13px !important;
}

.col-md-6>p {
    padding-top: 20px !important;
    padding-bottom: 10px !important;
}

.realted_post {
    margin-top: 30px;
}

.entry-content p>a,
.entry-content p>a:hover {
    color: #7c6bf5;
    text-decoration: underline;
}

.col-md-6>p,
.entry-content>p {
    color: #777777 !important;
    font-family: Typold-Book !important;
    font-size: 13px !important;
}

.content_part_main {
    padding-top: 25px !important;
}

.detail-top-row {
    padding-bottom: 40px !important;
}

.search-bar1 {
    margin: 0px -30px;
}

.nav-1 {
    display: none;
    font-size: 30px;
    cursor: pointer;
    padding: 0px 15px 10px 0px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #8975f4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff !important;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
    z-index: 2;
}

#search-form {
    width: 80%;
    margin-left: 60px;
}

.provideInfoHeading {
    font-family: 'Typold-Book';
    font-size: 1.3vw;
    color: #777777;
    padding: 0;
}

.matchHeading {
    color: #724ef4;
    font-size: 1vw;
    font-family: 'Typold-Book';
}

.heading {
    display: inline-block;
    color: #724ef4;
    font-weight: bold;
    font-size: 2.8vw;
    margin: 0;
    font-family: 'Typold-Book';
    margin-top: 15px;
}

.heading:after {
    display: block;
    content: '';
    margin: 8px 0px;
    transform: scaleX(0.1);
    transition: transform 600ms ease-in-out;
    border-bottom: 2px solid #724ef4;
    transform-origin: 0% 0%;
    margin-top: 15px;
}

.subheading {
    font-weight: bold;
    font-size: 1.3vw;
    margin: 0;
    font-family: 'Typold-Book';
    margin-top: 15px;
}

.para {
    font-size: 1vw;
    font-family: 'Typold-Thin';
    margin-top: 10px;
}

.wpforms-field {
    width: 70%!important;
}

.wpforms-field input,
textarea {
    border-radius: 5px !important;
    border: 1px solid #777777!important;
    padding: 1.25vw 1vw!important;
}

.wpforms-submit {
    background: -webkit-linear-gradient(#00b698, #8e71f6)!important;
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent!important;
    font-weight: bolder!important;
    padding: 8px 16px!important;
    border: 2px solid!important;
    border-image: linear-gradient(45deg, #00b698, #8e71f6) 1!important;
    transform: skewX(-10deg)!important;
    transition: .8s!important;
    font-family: 'Typold-Book'!important;
}

textarea.wpforms-field-medium {
    width: 288px!important;
    height: 162px!important;
}

.wpforms-field-textarea {
    width: 48% !important;
    position: absolute!important;
    right: 0;
}

.wpforms-field-container {
    position: relative;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px !important;
    }
}

@media screen and (min-width: 44.375em) {
    .site {
        margin: 0px !important;
    }
}

@media screen and (min-width: 44.375em) {
    body:not(.custom-background-image):before,
    body:not(.custom-background-image):after {
        height: 0px !Important;
    }
}

@media only screen and (max-width:767px) {
    .nav-1 {
        display: unset;
    }
    .col-lg-4 {
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    aside.widget-area .widget-title {
        color: #ffffff !important;
    }
    aside.widget-area a {
        color: #ffffff !important;
    }
    .row {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    .featured_post {
        padding-left: 0px !important;
    }
    .continue_underline {
        width: 14vw !important;
    }
    .widget_categories>h4.widget-title::after {
        border-top: 2.6px solid white;
    }
    h4.widget-title::after {
        width: 90px !important;
        margin: 0px 103px !important;
        transform: translateY(-11px) !important;
    }
    .h6_underline {
        width: 13vw !important;
    }
    #custom_html-6 {
        margin: 0px !important;
    }
    #custom_html-2,
    #custom_html-3,
    #custom_html-4,
    #custom_html-5,
    #custom_html-6 {
        width: 80vw !important;
    }
    .footer-mega-col-wrap {
        margin-top: 50px !important;
    }
    article.post-listing .post-image {
        height: 42vw !important;
    }
    .post-column,
    .detail-content-part {
        padding-right: 15px !important;
    }
    .detail-top-row .detail-post-image {
        padding: 15px 15px 15px 15px;
    }
    .featured_main .feature_post_image {
        padding: 15px 15px 15px 15px;
    }
    #recent-posts-2,
    #recent-comments-2,
    .content_part_main>.col-lg-4,
    .detail-row>.col-lg-4 {
        display: none;
    }
    .detail-top-row {
        padding-bottom: 0px !important;
    }
    .custom-logo {
        width: 92vw !important;
    }
    .search-bar1 {
        margin: 0px;
    }
    .header-menu-bar,
    .header-main {
        padding-top: 0px !important;
        padding-bottom: 10px !important;
    }
    #masthead .responsive-menu>nav ul li a {
        text-align: center;
    }
    #secondary-menu {
        display: flex !important;
        width: 90vw !important;
    }
    #masthead .responsive-menu>nav ul {
        position: unset !important;
        background: none !important;
        border: none !important;
    }
}